<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8"/>
    <title>Guernica</title>

    <div th:replace="fragments/imports_header :: imports"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<section id="main">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header bgm-blue">
                    <h2>Order <small>Estas son las ordenes recividas.</small></h2>
                    <a th:href="@{/order/new}" class="bgm-red btn btn-default bg btn-float waves-effect waves-circle waves-float">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                </div>
                <div class="card-body card-padding text-center">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Details</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody th:if="${not #lists.isEmpty(orderList)}">
                            <tr th:each="order : ${orderList}">
                                <td th:text="${order.id}"></td>
                                <td class="inline-detail">
                                    <ul th:if="${not #lists.isEmpty(order.orderDetails)}">
                                        <li th:each="detail : ${order.orderDetails}">
                                            <span th:text="${detail.product.name}"></span>
                                        </li>
                                    </ul>
                                </td>
                                <td th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 2, 'POINT')}"></td>
                                <td>
                                    <a th:href="${'/order/' + order.id}" class="btn btn-default waves-effect">
                                        <i class="zmdi zmdi-eye"></i></a>
                                    <a th:href="${'/order/' + order.id + '/edit'}" class="btn btn-default waves-effect">
                                        <i class="zmdi zmdi-edit"></i></a>
                                    <a th:href="${'/order/' + order.id + '/delete'}" class="btn btn-default waves-effect">
                                        <i class="zmdi zmdi-delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/imports_footer :: imports"></div>

</body>
</html>