<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8"/>
    <title>Guernica</title>

    <div th:replace="fragments/imports_header :: imports"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<section id="main">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header bgm-blue">
                    <h2>
                        Order
                        <small>Estos son los detalles de la orden.</small>
                    </h2>
                </div>
                <div class="card-body card-padding">
                    <table class="table table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Cost</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </thead>
                        <tbody th:if="${not #lists.isEmpty(order.orderDetails)}">
                            <tr th:each="detail : ${order.orderDetails}">
                                <td th:text="${detail.product.name}"></td>
                                <td th:text="${detail.product.description}"></td>
                                <td th:text="${detail.product.unitCost}"></td>
                                <td th:text="${detail.quantity}"></td>
                                <td th:text="${#numbers.formatDecimal(detail.product.unitCost * detail.quantity, 0, 'COMMA', 2, 'POINT')}"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total:</strong></td>
                            <td th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 2, 'POINT')}"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/imports_footer :: imports"></div>


</body>
</html>