<html xmlns:th="http://www.thymelef.org">
<head></head>
<body>
    <div th:fragment="imports">
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <link href="../static/vendor/material-design-iconic-font/dist/css/material-design-iconic-font.min.css"
              th:href="@{vendor/material-design-iconic-font/dist/css/material-design-iconic-font.min.css}" rel="stylesheet" media="screen"/>

        <link href="../static/css/spring-core.css"
              th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

        <link href="../static/css/app.css"
              th:href="@{css/app.css}" rel="stylesheet" media="screen"/>
    </div>
</body>
</html>
