<html xmlns:th="http://www.thymelef.org">
<head></head>
<body>
    <div  th:fragment="imports">
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>

        <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
                th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

        <script src="../static/vendor/moment/min/moment.min.js"
                th:src="@{/vendor/moment/min/moment.min.js}"></script>
        <script src="../static/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"
                th:src="@{/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>

        <script src="../static/js/app.js"
                th:src="@{/js/app.js}"></script>
    </div>
</body>
</html>