<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8"/>
    <title>Guernica</title>

    <div th:replace="fragments/imports_header :: imports"></div>

</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <section id="main">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <section id="content">
            <div class="container">
                <div class="card">
                    <div class="card-body card-padding text-center">
                        <h4>Material Admin Seed Project</h4>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <div th:replace="fragments/footer :: footer"></div>

    <div th:replace="fragments/imports_footer :: imports"></div>


</body>
</html>