<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelef.org">
<head>
    <meta charset="UTF-8"/>
    <title>Guernica</title>

    <div th:replace="fragments/imports_header :: imports"></div>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<section id="main">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <section id="content">
        <div class="container">
            <div th:if="${param.denied}" class="alert alert-danger">
                <p>Sorry, you don't have privileges to see that resource.</p>
            </div>
            <div th:if="${param.welcome}" class="alert alert-success">
                <p>Welcome to Guernica.</p>
            </div>
            <div class="card">
                <div class="card-header bgm-blue">
                    <h2>Ventas <small>Estas son las ventas.</small></h2>
                    <a th:href="@{/sales/new}" class="bgm-red btn btn-default bg btn-float waves-effect waves-circle waves-float">
                        <i class="zmdi zmdi-plus"></i>
                    </a>
                </div>
                <div class="card-body card-padding text-center">

                </div>
            </div>
        </div>
    </section>
</section>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/imports_footer :: imports"></div>


</body>
</html>